{% extends "sls_main/base.html" %}
{% block content %}
<div class="content">
	<div class="text">
		<p>
			«СЛС» — это известный российский интернет-канал, ведущий свою историю от 11 октября 2013 года. 
			Тем не менее, стоит отметить, что данное название в ноябре—декабре 2012 года носил канал, позже 
			ставший известным как «Ноль». Во времена своего расцвета, он демонстрировал людям новую, «тёмную» 
			для них грань интернет-телевидения, состоящую преимущественно из собственных увлекательных проектов.
			И когда «Ноля» не стало, нельзя было сказать, что данный жанр себя изжил, а наоборот — имеет своё 
			полноправное продолжение. В итоге, возник коллектив, сменивший окрас своих проектов ближе к яркому
			и известный вам под вышеуказанным именем. На протяжении первого года вещания вы видели здесь и 
			захватывающие игры, и весёлые интерактивы, и оригинальные шоу… Одним словом, наше появление привнесло 
			в интернет-телевидение позитив, интерес к авторскому контенту и оригинальность. Мы первыми среди наших 
			коллег полностью отказались от неавторского контента, давая дорогу молодым авторам и ведущим. 
		</p>
		<p>
			В новом сезоне мы решили вспомнить «тёмную» тематику, но оставаясь яркими и и интересными для вас! 
			Меняясь к лучшему, мы не стоим на месте, позволяя нашим мечтам стремиться ввысь, в космос! Ведь мы 
			работаем не для денег, а для того, чтобы каждый наш зритель ждал с нетерпением нового эфира, не 
			задумываясь о будущем, потому что БУДУЩЕЕ УЖЕ ЗДЕСЬ!
		</p>
	</div>
	<div class="media">
		<iframe id="trailer" src="http://www.youtube.com/embed/yEy9dzRjKK8?controls=0&amp;showinfo=0" frameborder="0" ></iframe>
	</div>
</div>
{% endblock content %}